@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }

    /* 0% { border-top-color: green; }
    25% { border-top-color: red; }
    50% { border-top-color: red; }
    75% { border-top-color: green; }
    100% { border-top-color: green; } */
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #333; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1 {
    color: #FFF;
    margin: 20px 0;
}

.progress {
    height: 5px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.progress--bar {
    background-color: green;
    height: 100%;
    transition: all ease .5s;
}

.infoProgress {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4px;
    color: #ccc;
    top: 30px;
    position: fixed;
    width: 250px;
    text-align: center;
    font-weight: bold;
}

.progressCorrect {
    background-color: green;
    color: #fff;
    padding: 5px;
}

.progressIncorrect {
    background-color: red;
    color: #000;
    padding: 5px;
}

.progressRemainder {
    background-color: #ccc;
    color: #000;
    padding: 5px;
}

.infoProgressAnimation {
    animation: zoom-in-zoom-out 1s ease infinite;
}

.progressCorrect,
.progressIncorrect,
.progressRemainder {
    border-radius: 10px;
}

.questionArea,
.scoreArea {
    display: none;
}

.questionArea {
    max-width: 500px;
    width: 100%;
}

.question {
    color: #000;
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
}
.option {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 5px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}
.option span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.option:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.warning {
    color: #000;
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
}

.c-loader {
    display: block;
    border: 6px solid #e5e5e5;
    border-top-color: #000;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation: is-rotating 1s infinite;
  }

.scoreArea {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}
.prizeImage {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}
.scoreText1 {
    color: #000;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}
.scorePct {
    color: green;
    /* color: #0d630d; */
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.scoreText2 {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.scoreArea button {
    border: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.scoreArea button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

footer {
    color: #999;
    font-size: 13px;
    margin-top: 50px;
}

footer a {
    color: #999;
}